#boardContainer{
    top:55%;
    left:50%;
    transform:translate(-50%,-50%);
    position:absolute;
    width:400px;

    display:flex;
    flex-direction: column;
}
#boardContainer>div{
    display:flex;
    flex-direction: row;
}
#board{
    width:100%;
}
#verticalNotes{
    /* grid-area: menu; */
}
#verticalNotes > div{
    height:calc(calc(calc(400px - 20px)) / 8);
    line-height: calc(calc(400px - 20px) / 8);
    width:20px;
    font-weight: bold;
    font-size: 16px;
}

#horizontalNotes{
    padding-left: 20px;
}
#horizontalNotes > div{
    width:calc(calc(calc(400px - 20px)) / 8);
    text-align: center;
    height:20px;
    font-weight: bold;
    font-size: 16px;
}
#board>div>div>div>div>div{
    /* Hide the board numbers and letters */
    display:none;
}
/* #currentState{ */

/* }
#currentNote{
    position:absolute;
    bottom:2vh;
    left:50%;
    transform: translateX(-50%);
    font-size: 50px;
} */
#info{
    position:absolute;
    bottom:2vh;
    left:50%;
    transform: translateX(-50%);
    font-size: 30px;
    white-space: nowrap;
    text-align: center;
}
.highlightedRow>div:not(.highlightedCord){
    animation: backgroundChangeRow var(--hold-timer);
    animation-fill-mode: forwards;
}
@keyframes backgroundChangeRow{
    from{
        background:auto;
    }
    to{
        background:rgba(212, 118, 24, 0.866);
    }
}
@keyframes backgroundChangeCord{
    from{
        background:auto;
    }
    to{
        background:rgb(240, 89, 34);
    }
}
.highlightedCord{
    animation: backgroundChangeCord var(--hold-timer);
    animation-fill-mode: forwards;
}
.indicatedCord{
    background:rgba(107, 123, 230, 0.488);
}
.emoji{
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    position:absolute;
    font-size: 100px;
    animation:grow .3s ease-out;
    animation-fill-mode: forwards;
}
@keyframes grow{
    from{
        transform:translate(-50%,-50%) scale(0);
    }
    to{
        transform:translate(-50%,-50%) scale(2);
    }
}
#controls{
    display: flex;
    flex-direction: column;
}
#title{
    text-align: center;
    transform: translateY(5vh); 
}