#boardContainer{
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    position:absolute;
    width:85vw;

    display:flex;
    flex-direction: column;
}
#boardContainer>div{
    display:flex;
    flex-direction: row;
}
#board{
    width:100%;
}
#verticalNotes{
    /* grid-area: menu; */
}
#verticalNotes > div{
    height:calc(calc(calc(85vw - 20px)) / 8);
    line-height: calc(calc(85vw - 20px) / 8);
    width:20px;
    font-weight: bold;
    font-size: 4vw;
}

#horizontalNotes{
    padding-left: 20px;
}
#horizontalNotes > div{
    width:calc(calc(calc(85vw - 20px)) / 8);
    text-align: center;
    height:20px;
    font-weight: bold;
    font-size: 4vw;
}
#board>div>div>div>div>div{
    /* Hide the board numbers and letters */
    display:none;
}
#currentNote{
    position:absolute;
    bottom:2vh;
    left:50%;
    transform: translateX(-50%);
    font-size: 50px;
}